.header {
    align-items: center; /* 交差軸に対して中央に寄せることができる */
    height: 120px;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    box-sizing: border-box;
  }
  
  .header ul {
    display: flex;
    align-items: center;
  }
  
  .header ul li {
    font-size: 1.2rem;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  
  .header ul li a {
    color: #24292e;
    transition: all 0.3s;
  }
  
  .header ul li a:hover {
    opacity: 0.5;
  }
  
  header li img.icon {
    width: 30px;
  }
  
  .headerContener {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px 0;
  }

  .siteTitle a {
    color:rgb(247, 124, 63);
    
  }

  @media (max-width: 890px) {
    .headerContener{
        margin-top: 5%;
    }
    
    .siteTitle {
      line-height: 1.5;
      font-size: 1rem;
      width: 100px;
      margin: 0;
    }
  }

  /* sp */
@media screen and (max-width: 600px) {

    /* header */
  .header {
        flex-direction: column;
        height: auto;
        line-height: 30px;
        margin-top: 20px;
    }

    .header li {
        font-size: 0.8rem;
        margin-left: 20px;
    }

    .header li img.icon {
        width: 30px;
        margin-top: 15px;
    }

    .headerContener {
        display: block;
        margin: auto;
        text-align: center;
    }

    .siteTitle {
        margin-top: 20px;
        line-height: 1.5;
    }

}