.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

.secTitle {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 65px;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto 130px auto;
  font-size: 0.9rem;
  padding: 0.4%;
}

.secTitle {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 65px;
}


/* main */

.main {
  margin-bottom: 80px;
}
.main img {
  width: 100%;
  max-width: 1920px;
  height: 600px;
  object-fit: cover; /* 画像が潰れないようにカバーできる */
}

/* about */
.div {
  text-align: center;
}

.about img {
  display: block;
  margin: auto;
  margin-bottom: 30px;
}


.about ul {
  margin-bottom: 30px;
  margin: 0 auto;
  text-align: center;
  max-width: 320px;
}

.about ul li {
  margin-bottom: 3px;
  text-align: left;
}

.aboutContent {
  margin-bottom: 3px;
  text-align: center;
  color: #575757;
}

.aboutItem {
  padding: .4rem 0;
}

.aboutContent p {
  font-size: 1rem;
  margin-bottom: .1rem;
}

.aboutTitle {
  color: rgb(247, 124, 63);
}

/* works */
.works ul {
  display: flex; /* 写真を横並びに出来る */
  flex-wrap: wrap; /* 折り返すことができる */
  justify-content: space-between; /* 間隔を空けることができる */
  margin-bottom: 50px;
}

.works ul li {
  width: 31%;
  margin-bottom: 23px;
}

.works ul li img {
  cursor: pointer;
  transition: all 0.3s;
}

.works ul li img:hover {
  transform: scale(1.2, 1.2); /* 画像にカーソルを合わせた時に1.2倍拡大する */
  opacity: 0.7; /* 画像にカーソルを合わした時に透明になる */
}

/* News */
.news dl {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #000000;
  margin-bottom: 20px;
}

.news dt {
  width: 20%;
  border-bottom: 1px solid #000000;
  padding: 20px;
}

.news dd {
  width: 80%;
  border-bottom: 1px solid #000000;
  padding: 20px;
}

/* Contact */

.contact-content {
  display: flex;
  align-items: center;
}

.contact p {
  text-align: center;
  margin-bottom: 20px;
  color: #635c5c;
  font-size: medium;
}

.contact dl {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 1.5rem auto 3rem;
  width: 75%;
}

.contact dt {
  width: 100%;
  margin-bottom: .3rem;
     
}

.contact dt label {
  color: #575757;
}

.contact dd {
  width: 100%;
  margin-bottom: 1.1rem;

}

.contact dd input,
.contact dd textarea {
  width: 100%;
  border: 1px solid #8f8f8f;
  padding: 10px;
  
}

.contact dd textarea {
  height: 10rem;
}

.contact .button {
  text-align: center;   
}

.contact .button input {
  border: 1px solid #808080;
  background-color: #808080;
  width: 200px;
  padding: 15px 0;
  color: #fff;
  transition: all 0.5s;
}

.contact .button input:hover {
  background-color: #fff;
  color: #808080;
}

/* sp */
@media screen and (max-width: 600px) {
  
  /* works */
  .works ul {
      flex-direction: column;
  }

  .works ul li {
      width: 100%;
  }

  /* news */
  .news dl {
      flex-direction: column;
  }

  .news dt {
      width: 100%;
      border-bottom: none;
      padding: 0;
  }

  .news dd {
      width: 100%;
      padding-top: 0;
  }

  /* Contact */
  .contact dl {
      flex-direction: column;
  }

  .contact dt {
      width: 100%;
      margin-bottom: 5px;
  }

  .contact dd {
      width: 100%;

  }
}

