.wrapper {
    max-width: 960px;
    margin: 0 auto 130px auto;
    font-size: 0.9rem;
    padding: 0.4%;
}
  
.secTitle {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 65px;
}

  /* works */
.works ul {
    display: flex; /* 写真を横並びに出来る */
    flex-wrap: wrap; /* 折り返すことができる */
    justify-content: space-between; /* 間隔を空けることができる */
    margin-bottom: 50px;
}
  
.works ul li {
    width: 31%;
    margin-bottom: 23px;
}
  
.works ul li img {
    cursor: pointer;
    transition: all 0.3s;
}
  
.works ul li img:hover {
    transform: scale(1.2, 1.2); /* 画像にカーソルを合わせた時に1.2倍拡大する */
    opacity: 0.7; /* 画像にカーソルを合わした時に透明になる */
}

@media screen and (max-width: 600px) {
    /* works */
    .works ul {
       flex-direction: column;
       text-align: center;
    }
    .works ul li {
        width: 100%;
        margin-bottom: 23px;
    }
}